@model IEnumerable<ServiceWeb.Models.Student>

@{
    ViewBag.Title = "ImageWeb";
}

<h1>Image web</h1>
<p>Service running:@ViewBag.Status</p>
<p>Number of pictures:@ViewBag.Sum</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
        </tr>
    }

</table>
